* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: antiquewhite;
  height: 400px;
}

.completed {
  text-decoration: line-through;
}